@import "tailwindcss";

@theme {
  --color-background: #0b1120;
  --color-surface: #111827;

  --color-primary: #06b6d4;
  --color-secondary: #3b82f6;

  --color-text: #ffffff;
  --color-muted: #94a3b8;

  --color-border: rgba(255,255,255,0.08);

  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);

  margin: 0;
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}